@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@keyframes imageAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  font-size: 40px;
  background: #8c2155;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50vh;
}

.footerLinks {
  margin-bottom: 2rem;
}

.menu_bottom {
  margin-bottom: 3rem;
  margin-right: 2rem;
  font-family: 'Homemade Apple', cursive, sans-serif;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

.menu_bottom_last {
  margin-right: 3rem;
}
