@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;500;600;700;800&display=swap');

.wrapper {
  position: relative;
}

.image {
  margin: 0.25rem;
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 0.25rem;
  flex-flow: row wrap;
  flex-grow: 0.5;
  flex-shrink: 4;
}

.overlay {
  position: absolute;
  margin: 0.25rem;
  max-height: 15rem;
  border-radius: 0.25rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3b444b;
  opacity: 0;
  transition: 0.5s ease;
}

.wrapper:hover .overlay {
  opacity: 0.95;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

.article {
  padding: 2rem;
}

.article__paragraph {
  padding-bottom: 1rem;
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: #add8e6;
  cursor: pointer;
}

.link:hover {
  font-color: #00c0b6;
}

/* Media Queries */

@media screen and (max-width: 1450px) {
  .image {
    margin: 0.1rem;
    max-width: 11rem;
    max-height: 11rem;
    border-radius: 0.25rem;
    flex-flow: row wrap;
    margin-right: 1rem;
  }

  .overlay {
    position: absolute;
    margin: 0.1rem;
    max-width: 11rem;
    max-height: 11rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3b444b;
    opacity: 0;
    transition: 0.5s ease;
  }

  .wrapper:hover .overlay {
    opacity: 0.95;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .article {
    padding: 1.8rem;
  }

  .article__paragraph {
    padding-bottom: 1rem;
  }

  .link {
    text-decoration: none;
    font-weight: 700;
    color: #add8e6;
  }
}

@media screen and (max-width: 1279px) {
  .wrapper {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
  }

  .image {
    margin: 0.1rem;
    max-width: 12.5rem;
    max-height: 12.5rem;
    border-radius: 0.25rem;
    flex-flow: row wrap;
    margin-right: 0.8rem;
  }

  .overlay {
    position: absolute;
    margin: 0.1rem;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 0.25rem;
    margin-right: 0.8rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3b444b;
    opacity: 0;
    transition: 0.5s ease;
  }

  .wrapper:hover .overlay {
    opacity: 0.95;
    color: white;
    font-weight: 400;
    font-size: 0.75rem;
  }

  .article {
    padding: 1.8rem;
  }

  .article__paragraph {
    padding-bottom: 1rem;
  }

  .link {
    text-decoration: none;
    font-weight: 700;
    color: #add8e6;
  }
}

@media screen and (max-width: 860px) {
  .wrapper {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
  }
  .image {
    margin: 0.1rem;
    max-width: 6rem;
    max-height: 6em;
    border-radius: 0.2rem;
    flex-flow: row wrap;
    margin-right: 0.8rem;
  }

  .overlay {
    position: absolute;
    margin: 0.1rem;
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 0.2rem;
    margin-right: 0.8rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3b444b;
    opacity: 0;
    transition: 0.5s ease;
    display: hidden;
  }

  .wrapper:hover .overlay {
    opacity: 0.95;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .article {
    padding: 1.8rem;
  }

  .article__paragraph {
    padding-bottom: 1rem;
  }

  .link {
    text-decoration: none;
    font-weight: 700;
    color: #add8e6;
  }
}
