@keyframes imageAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: imageAppear;
  animation-duration: 2s;
}

.swiperSlide {
  background-color: #ffffff;
}

.title {
  font-family: 'Palanquin', sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 425px) {
  .footer a {
    font-size: 1rem;
  }
}
