@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@keyframes imageAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: imageAppear;
  animation-duration: 2s;
}

.swiperSlide {
  background-color: #ffffff;
}

.title {
  font-family: 'Palanquin', sans-serif;
  font-size: 1rem;
  color: #30292f;
}

@media screen and (max-width: 768px) {
  .title a {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 425px) {
  .title a {
    font-size: 0.6rem;
  }
}
