@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation-name: imageAppear;
  animation-duration: 2s;
}

@keyframes imageAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 3rem;
}

.name {
  font-family: 'Homemade Apple', cursive, sans-serif;
  font-size: 2.5rem;
}

.title {
  font-family: "Palanquin", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

/* Media Queries */

@media screen and (max-width: 1250px) {
  .name {
    font-size: 1.75rem;
  }
  .title {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .container, .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    text-align: center;
    padding: 2rem 2rem 0 2rem;
  }
  .name {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .title {
    font-size: 1.25rem;
  }
}
