.link {
  align-self: flex-start;
  margin-top: 20px;
  padding: 0 5rem;
  font: 1.25rem 'Palanquin', sans-serif;
  font-weight: 300;

    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
      align-self: center;
    }
}

.link:hover {
  color: #14b3ba !important;
}